fastapi
uvicorn
faiss-cpu
transformers>=5.4.0
sentence-transformers
einops
bitsandbytes
accelerate
tree-sitter
tree-sitter-c
tree-sitter-cpp
tree-sitter-python
tree-sitter-php
tree-sitter-javascript
tree-sitter-typescript
tree-sitter-lua
tree-sitter-go
tree-sitter-java
tree-sitter-rust
gitpython
pydantic
swh.model
numpy
--index-url https://download.pytorch.org/whl/cpu
torch
