fastapi
uvicorn
faiss-cpu
transformers==4.47.1
sentence-transformers
einops
bitsandbytes
accelerate
tree-sitter
tree-sitter-c
tree-sitter-cpp
tree-sitter-python
gitpython
pydantic
swh.model
numpy
--index-url https://download.pytorch.org/whl/cpu
torch
